<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" href="css/style.css" />

    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>spark bank</title>
  </head>
  <body>
    <header>
      <img class="logo" src="images/p.png" alt="logo" />
      <h3 class="head">Sparks Bank</h3>
      <nav>
        <div class="container">
          <ul class="links">
            <li><a href="/">Home</a></li>
            <li><a href="/customers">All Customer</a></li>
            <li><a href="/services">our services</a></li>
            <li><a href="/contact">Contact Us </a></li>
          </ul>
        </div>
      </nav>
    </header>
  </body>
</html>
