<%- include("partials/header") %>
<div class="maincont">
  <div class="contact">
    <form>
      <h2>Feel Free to Contact Us!!</h2>
      <input class="one" type="email" placeholder="type your email" />
      <input class="one" type="number" placeholder="type your phone number" />
      <input
        class="textfield"
        type="text"
        placeholder=" write your query here!!"
      />
      <button type="submit">Submit Here!!</button>
    </form>
  </div>
</div>
<%- include("partials/footer") %>
