<%- include("partials/header.ejs") %>

<div class="heading">
  <h1>Welcome to Spark Bank!!!</h1>

  <p>One Family One Bank....</p>
  <img class="image" src="/images/logo.png" alt="logo" />
</div>

<%- include("partials/footer.ejs") %>
