<%- include("partials/header"); -%>

<div class="maincont">
  <div class="contact">
    <h3>Your Money Has Sucessfully Transfered!!!...</h3>
  </div>
</div>

<%- include("partials/footer"); -%>
