<%- include("partials/header"); -%>

<div class="maincont">
  <div class="contact">
    <form>
      <h1 class="div1">Our Services</h1>
      <div class="viewhead">
        <img
          src="https://img.icons8.com/external-kiranshastry-lineal-color-kiranshastry/64/000000/external-piggy-bank-finance-kiranshastry-lineal-color-kiranshastry.png"
        />
        <h2>Digital Saving Account</h2>
      </div>
      <div class="div1">
        <img src="https://img.icons8.com/office/80/000000/id-verified.png" />
        <h2>Express FD</h2>
      </div>
      <div class="viewhead">
        <img src="https://img.icons8.com/office/80/000000/card-exchange.png" />
        <h2>Credit Cards</h2>
      </div>
      <div class="div1">
        <img src="https://img.icons8.com/office/80/000000/cash-in-hand.png" />
        <h2>Personal loan</h2>
      </div>
    </form>
  </div>
</div>
<%- include("partials/footer"); -%>
