@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-image: url("/images/back.jpg");
  background-size: cover;
  background-position: center;

  font-family: "Poppins", sans-serif;
}
header {
  width: 100vw;
  height: 100px;
  background-color: rgba(0, 0, 0, 0.746);
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.links li {
  display: inline-block;
  padding: 0px 50px;
  font-size: 22px;
  font-weight: 400;
}

.links li a {
  text-decoration: none;
  color: rgb(144, 184, 248);
}
.head {
  color: beige;
  font-size: 35px;
}
.heading {
  height: 500px;
  width: 500px;
  background-color: rgba(255, 249, 249, 0.646);
  color: rgb(53, 53, 45);
  font-size: 35px;
  text-align: center;
  border-radius: 50px;
  margin: 50px 50px;
}

.logo {
  width: 130px;
  height: 130px;
  cursor: pointer;
}
.contact {
  padding-top: 80px;
  padding-bottom: 80px;
  height: auto;
  width: 700px;
  align-items: center;
  display: flex;
  justify-content: center;
  /* background-color: rgba(0, 0, 0, 0.646); */
  background-color: rgba(255, 249, 249, 0.646);
  border-radius: 50px;
}
.maincont {
  margin-top: 100px;
  align-items: center;
  display: flex;
  justify-content: center;
}
.image {
  padding-bottom: 50px;
  height: 300px;
  width: 300px;
}
.one {
  display: block;
  outline: none;
  border: 2px solid #aaa;
  border-radius: 50px;
  margin-bottom: 30px;
  padding: 15px 40px;
  box-sizing: border-box;
  transition: 0.3s;
}
input:focus {
  border-color: dodgerblue;
  box-shadow: 0 0 8px 0 dodgerblue;
}
.textfield {
  display: block;
  border-radius: 50px;
  padding: 40px 40px;
  border-color: green;
  margin-bottom: 30px;
}

button {
  outline: none;
  font-size: 15px;
  border-radius: 50px;
  padding: 10px;
  margin-left: 60px;
  background-color: dodgerblue;
  color: azure;
}
table {
  font-family: arial, sans-serif;
  font-size: 20px;
  border-collapse: collapse;
  width: 100%;
}

td,
th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
  padding-right: 30px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}
.anchor {
  background-color: rgb(169, 55, 245);
  color: antiquewhite;
  padding: 9px;
  border-radius: 30px;
  text-decoration: none;
}

.viewpara,
.viewheadd,
.viewhead {
  background-color: dodgerblue;
  color: wheat;
  padding: 60px;
  text-align: center;
  border-radius: 40px;
}
.div1 {
  text-align: center;
  margin: 40px;
  align-items: center;
}
